@charset "UTF-8";

/* demais midias */

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, rgb(62, 211, 129), purple);
    }
    section#login {
        width: 80vw;
    }
    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 60%;
    }
    input#entrar {
        width: 350px;
    }
    button {
        width: 350px;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, rgb(62, 211, 129), purple)
        }
    section#login {
        width: 950px;
    }
    section#login > div#imagem {
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 50%;
        height: 100%;

    }
    div#formulario p {
        margin: 5px;
        font-size: 1.2em;
        text-align: justify;
    }
    div#formulario h1 {
        font-size: 2em;
    }
    input#entrar {
        width: 450px;
    }
    button {
        width: 450px;
    }
    
}